<html>
<head>
    <title>Customers</title>
</head>
<body>
    
    <h1>Customers</h1>

    Here you can add, update, delete, and view the shop's customer information.

    <h2>Add New Customer</h2>

    <form id= "add-customer-form-ajax">

        <fieldset>
            
            <label for="input-first_name">First name: </label>
                <input type="text" name="input-first_name" id="input-first_name">
            <p></p>

            <label for="input-last_name">Last name: </label>
                <input type="text" name="input-last_name" id="input-last_name">
            <p></p>
            
            <label for="input-email">Email: </label>
                <input type="text" name="input-email" id="input-email">
            
            <p></p>
            <button type="submit">Add customer to database</button>

        </fieldset>

    </form>
    <script src="./js/add_customer.js"></script>

    <h2>Update Customer Information</h2>
    <p>To update a customer entry, select name from list. You may update last name or email</p>
    <form id="update-customer-form-ajax">

        <label for="input-full-name">Full name: </label>
        <select name="input-full-name" id="input-full-name">
            <option value="test">Select a customer</option>
            {{#each data}}
            <option value="{{this.customer_ID}}">{{this.first_name}} {{this.last_name}}</option>
            {{/each}}
        </select>

        <label for="input-last_name-update">Last name: </label>
                <input type="text" name="input-last_name-update" id="input-last_name-update">
        <label for="input-email-update">Email: </label>
                <input type="text" name="input-email-update" id="input-email-update">
        <input type="submit">

    </form>

    <script src="./js/update_customer.js"></script>

    <h2>Browse All Customers</h2>
    
    <table id="customer-table">
        <caption>Search Results: Customer Database</caption>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value={{this.customer_ID}}>
                <td>{{this.customer_ID}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td><button onclick="deleteCustomer({{this.customer_ID}})">Delete</button></td>

            </tr>
            {{/each}}
        </tbody>

        <script src="./js/delete_customer.js"></script>

    </table>

</body>
</html>